* {
  box-sizing: border-box;
  font-size: 5.5px;
}

.container {
  padding: 2rem 5rem;
}
h2 {
  font-size: 3.5rem;
}
p {
  font-size: 2.2rem;
  color: grey;
}
#person-photo {
  width: 30%;
  height: 60%;
}
#person-photo img {
  border-radius: 2rem;
  width: 100%;
}
a {
  font-size: 2.2rem;
}
#logo {
  font-size: 2.2rem;
  margin-right: 1.2rem;
  text-decoration: none;
}
#info {
  text-decoration: none;
  color: black;
}
.person-details {
  display: flex;
  justify-content: flex-start;
}
#desktop-headline {
  display: none;
}
.person-info {
  margin-left: 5rem;
  width: 60%;
}
.phone {
  margin-top: 2rem;
}
.blog {
  display: flex;
  flex-wrap: wrap;
  margin: 6rem 0;
  justify-content: space-between;
}
.blog-heading {
  width: 30%;
}
.blog-image {
  width: 65%;
}
.blog img {
  width: 100%;
  border-radius: 2rem;
  filter: blur(2px);
}
.card {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
.individual-experience {
  display: flex;
  width: 100%;
  margin-bottom: 3rem;
}
.company-logo {
  width: 20%;
}
.company {
  width: 100%;
}
.details {
  width: 65%;
  margin-left: 1.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}

.skills {
  margin-top: 20px;
}

.skill {
  margin-bottom: 1.5rem;
}

.skill-name {
  font-weight: bold;
  font-size: 1.9rem;
}

.skill-bar {
  background-color: #f1f1f1;
  height: 10px;
  border-radius: 5px;
}

.skill-level {
  height: 100%;
  background-color: #55a9ee;
  border-radius: 5px;
}
.skills h2 {
  font-size: 2.5rem;
}
.hobbies {
  margin-bottom: 2rem;
}
.hobby-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.hobbies h3 {
  font-size: 2.5rem;
}
.hobbies p {
  font-size: 1.8rem;
}
.image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.projects {
  padding: 2rem;
}
.projects h3 {
  font-size: 3rem;
}
.project-buttons button {
  font-size: 1.5rem;
  padding: 1.5rem;
  border-radius: 10px;
  color: black;
  border-style: none;
  margin-right: 3rem;
}
#responsive {
  background-color: #55a9ee;
}
.onecard {
  margin: 3rem 0;
}
.onecard h4 {
  font-size: 2.5rem;
}
.project-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.food-app {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.onecard-button button {
  font-size: 1.5rem;
  padding: 1.5rem;
  border-radius: 10px;
  color: black;
  border-style: none;
  margin-right: 3rem;
}
#demo {
  background-color: #55a9ee;
}
.desktop-material p {
  display: none;
}
.desktop {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.skills-hobbies {
  order: 0;
}
.blog-experience {
  order: 1;
}
@media only screen and (min-width: 540px) and (max-width: 1200px) {
  * {
    font-size: 9px;
  }
}

@media only screen and (min-width: 1200px) {
  * {
    font-size: 14px;
  }
  .mail-phone {
    display: flex;
    justify-content: space-between;
  }
  .person-contact {
    margin-top: 4rem;
  }
  .desktop {
    display: flex;
    width: 100%;
    gap: 2rem;
    flex-direction: row;
    margin-top: 3rem;
  }
  .blog-experience {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
  }
  .blog {
    width: 100%;
    height: 55%;
    padding-bottom: 0rem;
  }
  .experience {
    width: 100%;
    height: 40%;
  }
  .skills-hobbies {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
  }
  .skills {
    width: 100%;
    height: 25%;
    padding-top: 2rem;
  }
  .hobbies {
    width: 100%;
    height: 70%;
  }
  .projects {
    margin-top: 4rem;
  }
  .individual-card {
    display: flex;
    flex-wrap: nowrap;
  }
  .article {
    margin: 0;
    padding: 0;
  }
  #desktop-headline {
    display: block;
  }
}
